@model List<State>
<table id="StateTable" class="table table-bordered" style="width:100%">
    <thead>
        <tr>
            <td style="width:60px;">Id</td>
            <td>Name</td>
            <td style="width:110px;">Active</td>
            <td style="width:260px;"></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var state in @Model)
        {
            <tr class="@(@state.Active?"":"bg-danger")">
                <td>@state.StateId</td>
                <td>@state.Name</td>
                <td>@state.Active</td>
                <td>
                    @if(User.IsInRole("Owner") || User.IsInRole("Manager"))
                    {
                        <form asp-controller="Admin" asp-action="StateDelete" method="POST" style="display: inline;">
                            <input type="hidden" name="stateId", value="@state.StateId">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    }
                    <a href="/admin/StateEdit/@state.StateId" class="btn btn-xs btn-primary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>