@model CityModel
@{
    List<Branch> branches = new List<Branch>();
    branches = @ViewBag.Branches;
}
@section Style{
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/rowreorder/1.2.7/css/rowReorder.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.5/css/responsive.dataTables.min.css">
    @* //Live Search *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
}
@section Script{
    <script src="//cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/rowreorder/1.2.7/js/dataTables.rowReorder.min.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.5/js/dataTables.responsive.min.js"></script>

    @* //Live Search *@
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
    @* //ServerSide Validation *@
    <script src="/modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script>
        $(document).ready( function () {
            $('#BranchTable').DataTable({
                rowReorder: {
                    selector: 'td:nth-child(4)'
                },
                "autoWidth": true,
                "scrollX": true,
                responsive: true
            });
        });
    </script>


}
<div class="row ml-4">
    <form asp-controller="Admin" asp-action="CityEdit" method="POST">
        <input type="hidden" asp-for="CityId">
        <div class="col-sm-5">
            <h1 class="h3">City Edit</h1> <hr>
            <div class="text-danger" asp-validation-summary="All"></div>
            <div class="row">
                <div class="row">
                    <div class="form-group col-sm-7">
                        <label asp-for="Name"></label>
                        <div class="">
                            <input class="form-control" asp-for="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <input class="form-check-input" type="checkbox" asp-for="Active">
                        <label for="Active" class="form-check-label">Active</label>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-4">
                        <label>Country</label>
                        <div class="">
                            <select class="selectpicker" data-live-search="true" data-size=5 asp-for="CountryId">
                                <option value="0"> Empty</option>
                                @foreach (var country in @ViewBag.Countries)
                                {
                                    <option value="@country.CountryId">@country.Name</option>
                                }
                            </select>
                            <span asp-validation-for="CountryId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-4">
                        <label>State</label>
                        <div class="">
                            <select class="selectpicker" data-live-search="true" data-size=5 asp-for="StateId">
                                <option value="0"> Empty</option>
                                @foreach (var state in @ViewBag.States)
                                {
                                    <option value="@state.StateId">@state.Name</option>
                                }
                            </select>
                            <span asp-validation-for="StateId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                @if(User.IsInRole("Owner") || User.IsInRole("Manager"))
                {
                    <div class="row">
                        <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-primary col-md-3">Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-7">
                <h1 class="h3">City's Branches</h1> <hr> <hr>
                    @await Html.PartialAsync("_branchTable", branches) 
            </div>
    </form>
</div>


